<h1>Adivina la Palabra</h1>

<p>
  Intenta descubrir la palabra oculta ingresando una letra por vez. Tienes una
  cantidad limitada de intentos.
</p>

<div>
  <p id="letra0">_</p>
  <p id="letra1">_</p>
  <p id="letra2">_</p>
  <p id="letra3">_</p>
  <p id="letra4">_</p>
  <p id="letra5">_</p>
  <p id="letra6">_</p>
  <p id="letra7">_</p>
</div>

<div id="intentosRestantes">Intentos restantes: 10</div>

<div id="Mensaje"></div>

<form>
  <label for="letra">Ingrese una letra:</label>
  <input type="text" id="letra" maxlength="1" />

  <input type="hidden" id="palabra" value="@ViewBag.Palabra" />

  <button type="button" onclick="ArriesgarLetra(event)">
    Arriesgar letra
  </button>
</form>